.git
.gitignore
.gitattributes
.editorconfig
.env
.env.*
!.env.example
.idea
.vscode
.fleet
.DS_Store

node_modules
npm-debug.log
yarn-error.log
public/storage
public/hot

vendor
storage/*.key
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs/*.log
bootstrap/cache/*.php

CLAUDE.md
README.md
*.md

tests
phpunit.xml
.phpunit.result.cache

참고자료
코드테이블.xlsx
~$*

docker-compose*.yml
k8s/
